{% load i18n %}
<div class="inline-group">
    <h2>Section Children (drag and drop to reorder) </h2>
	<div id='children-order-list'>
		{% for child in parent.get_children %}
				<div id="child-{{child.id}}" class="inline-related {% if forloop.last %}last-related{% endif %}">
    				<span title="drag to reorder sections" class="draghandle ui-icon ui-icon-arrowthick-2-n-s"></span>
    				<h3>
                        &nbsp;
    				    {{ child.label }}
				        <span class="edit">
				            <a style="position: absolute; top: 2px; right: 100px" href="/admin/pagetree/section/{{child.id}}" class="changelink">{% trans 'Change' %}</a></span>
				        </span>
    				    <span class="delete">
                            <a style="position: absolute; top: 2px; right: 30px" href='#' onclick="return showDeletePopup('Section', {{ child.id }});" class="deletelink">{% trans 'Delete' %}</a></span>
                        </span>
                        
    				</h3>
                  <input name="parent-id" value="{{parent.id}}" id="id_parent-id" type="hidden">
				</div>
		{% endfor %}
	</div>
	<br /><br /><br />
	
	<ul class="object-tools">
	   <li>
	       <a id='add-new-sectionchild' href='#' onclick="return showAddSectionPopup({{ parent_id }});" class="addlink">Add New Child</a>
	   </li>
	</ul>
</div>
