{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block title %}
    {% with "Are You Sure?" as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content_title %}
    {% with "Are You Sure?" as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block extrahead %}{{ block.super }}
    
{{ media }}

<script type="text/javascript">
    $(document).ready(function() { 
        $("#id_cancel").click(function() {
            window.opener.dismissPopup(window, false); 
            return false;
        });
    
        $("#delete_object").submit(function() {

            $("#id_delete").attr("disabled", "true");
                        
            $("#form_error_msg").hide();
            $.ajax({
                type: "POST",
                url: $("#delete_object").attr("action"),
                success: function() {
                    opener.dismissPopup(window, true);
                },
                error: function() {
                    $("#form_error_msg").html("An error occurred. Please try again.");
                    $("#form_error_msg").show();
                    $("#id_delete").removeAttr("disabled");
                }
            });
         }); 
     }); 
</script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <link rel="stylesheet" href="/admin/pagetree/media/css/pagetree.css" media="screen" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">
    {% if errors %}
        <p class="errornote">
        {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}

    <div id="form_error_msg" class="errornote" style="display:none"></div>
    <form id="delete_object" action="/pagetree/delete_{{object_type}}/{{object.id}}/" method="post" onsubmit="return false;">
       <br />
       Are you sure you want to delete the {{object_type}} "{{object.label}}"? 
       <br /><br />
       <input value="Yes, I'm sure" class="default" name="_delete" type="submit" id="id_delete" style="float: left; margin-right: 10px;"/>
       <input value="Cancel" class="default" name="_cancel" type="submit" id="id_cancel" style="float: left"/>
    </form>
</div>

{% endblock %}
    
    