{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block title %}
    {% with "Add Child Section" as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content_title %}
    {% with "Add Child Section" as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block extrahead %}{{ block.super }}
    
{{ media }}

<script type="text/javascript">
    $(document).ready(function() { 
        $("#add_section").submit(function() {

            $("#id_save").attr("disabled", "true");
                        
            if ($("#id_label").val().length < 1) {
                $("#form_error_msg").html("Please enter a label");
                $("#form_error_msg").show();
                $("#id_save").removeAttr("disabled");
            } else {
                $("#form_error_msg").hide();
                $.ajax({
                    type: "POST",
                    url: $("#add_section").attr("action"),
                    data: $("#add_section").serialize(),
                    success: function() {
                        opener.dismissPopup(window, true);
                    },
                    error: function() {
                        $("#form_error_msg").html("An error occurred. Please try again.");
                        $("#form_error_msg").show();
                        $("#id_save").removeAttr("disabled");
                    }
                });
            }
         }); 
     }); 
</script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <link rel="stylesheet" href="/admin/pagetree/media/css/pagetree.css" media="screen" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     {% trans "Home" %} &rsaquo;
     Pagetree &rsaquo;
     Site Hierarchy &rsaquo;
      
     {% for section in object.get_ancestors %}
        {{section.label}}
        {% ifnotequal section.label object.label %}
           &rsaquo;
        {% endifnotequal %}
     {% endfor %}
</div>
{% endif %}{% endblock %}

{% block content %}

<div id="content-main">
	{% if errors %}
	    <p class="errornote">
	    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
	    </p>
	    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
	{% endif %}

   <div id="form_error_msg" class="errornote" style="display:none"></div>
   <form id="add_section" action="{% url add-child-section object.id %}" method="post" onsubmit="return false;">
	   {% csrf_token %}
	   <fieldset class="module aligned">
			<table>
			{{ object.add_child_section_form.as_table }}
			</table>
			<br />
		</fieldset>
        
      <div class="submit-row">
         <input value="Save" class="default" name="_save" type="submit" id="id_save">
      </div>
   </form>
</div>

{% endblock %}
