{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}

{{ block.super }}

<script type="text/javascript">
    var saveOrderOfSections = function(sectionId, childTag) {
        var url = "/pagetree/reorder_section_children/" + sectionId + "/?";
        var worktodo = 0;
        jQuery("#children-order-list " + childTag).each(function(index,element) {
           worktodo = 1;
           var id = jQuery(element).attr('id').split("-")[1];
           url += "section_id_" + index + "=" + id + ";";
        });
        if (worktodo == 1) {
            var req = new XMLHttpRequest();
            req.open("POST",url,true);
            req.send(null);
        }
    };
    
    var saveOrderOfPageBlocks = function(sectionId, childTag) {
        var url = "/pagetree/reorder_pageblocks/" + sectionId + "/?";
        var worktodo = 0;
        jQuery("#blocks " + childTag).filter(".draggable").each(function(index,element) {
          worktodo = 1;
          var id = jQuery(element).attr('id').split("-")[1];
          url += "pageblock_id_" + index + "=" + id + ";";
        });
        if (worktodo == 1) {
            /* only bother submitting if there are elements to be sorted */
            var req = new XMLHttpRequest();
            req.open("POST",url,true);
            req.send(null);
        }
    }

    $(document).ready(function() { 
        jQuery("#children-order-list").sortable({
          items : 'div'
          , containment : 'parent'
          , axis : 'y'
          , tolerance: 'pointer'
          , activeClass: 'dragging'
          , handle: '.draghandle'
          , stop: function (event,ui) { saveOrderOfSections({{adminform.form.instance.id}}, "div"); }
        });

        jQuery("#children-order-list").disableSelection();
        
        jQuery("#blocks").sortable({
          items : 'tr'
          , axis: 'y'
          , containment: 'parent'
          , handle: '.draghandle'
          , activeClass: 'dragging'
          , tolerance: 'pointer'
          , stop: function (event,ui) { saveOrderOfPageBlocks({{adminform.form.instance.id}}, "tr"); }
        });

        jQuery("#blocks").disableSelection();
    });
</script>

<script type="text/javascript">
    function showAddSectionPopup(parent_id) {
       var win = window.open('/admin/pagetree/add/section/{{adminform.form.instance.id}}', 'Add Child Section', 'height=500,width=780,resizable=yes,scrollbars=yes');
       win.focus();
       return false;
    }

    function showDeletePopup(type, object_id) {
        var win = window.open('/admin/pagetree/delete/' + type.toLowerCase() + '/' + object_id, 'Delete ' + type, 'height=200,width=400,resizable=yes,scrollbars=no');
        win.focus();
        return false;
    }

    function showPageBlockPopup(type, title, parent_id) {
       var win = window.open('/admin/pagetree/' + type + '/pageblock/' + parent_id, title, 'height=500,width=780,resizable=yes,scrollbars=yes');
       win.focus();
       return false;
    }

    function showEditPopup(href) {
       var win = window.open(href, "Edit", 'height=500,width=780,resizable=yes,scrollbars=yes');
       win.focus();
       return false;
    }
    
    function dismissPopup(window, reload) {
       window.close();
       if (reload && window.opener && !window.opener.closed) {
          window.opener.location.reload();
       } 
    }
</script>

{{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="/admin/pagetree/media/css/pagetree.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
	{% if not is_popup %}
		<div class="breadcrumbs">
		     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
		     <a href="/admin/pagetree/">{{ app_label|capfirst|escape }}</a> &rsaquo;
		     <a href="/admin/pagetree/section/">Site Hierarchy</a> &rsaquo;
		     
		     {% for section in adminform.form.instance.get_ancestors %}
                {% ifequal section.label "Root" %}
                    <a href="/admin/pagetree/section/{{section.id}}/">{{section.hierarchy.name|capfirst}} Root</a> &rsaquo;
                {% else %}
			        <a href="/admin/pagetree/section/{{section.id}}/">{{section.label}}</a> &rsaquo;
                {% endifequal %}
                 
		     {% endfor %}
             {% ifequal adminform.form.instance.label "Root" %}
                {{ adminform.form.instance.hierarchy.name|capfirst }} Root
             {% else %}
                {{ adminform.form.instance.label }}
             {% endifequal %}
		</div>
	{% endif %}
{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
  {% ifnotequal adminform.form.instance.label "Root" %}
     <li><a href="/admin/pagetree/section/move/{{adminform.form.instance.id}}" class="historylink">{% trans "Move" %}</a></li>
  {% endifnotequal %}
  <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}
{% block form_top %}{% endblock %}

{% if adminform.form.instance.is_root %}
<div style="margin-bottom: 5px"><i>The Root node represents the top of the hierarchy. The node's attributes cannot be edited. The node cannot be deleted.</i></div>  
{% endif %}

<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{% if not adminform.form.instance.is_root %}
	{% for fieldset in adminform %}
	  {% include "admin/includes/fieldset.html" %}
	{% endfor %}
{% else %}
  <fieldset class="module aligned">
      <div class="form-row label">
         <div>
            <label for="id_label" class="required">Label:</label><input readonly="readonly" name="label" value="Root" class="vTextField" maxlength="256" id="id_label" type="text">
         </div>
      </div>
      <div class="form-row slug">
         <div>
            <label for="id_slug" class="required">Slug:</label><input readonly="readonly" id="id_slug" class="vTextField" name="slug" maxlength="50" type="text" value="root">
         </div>
      </div>
   </fieldset>
{% endif %}

{% block after_field_sets %}{% endblock %}

{% with adminform.form.instance as parent %}
    {% include "admin/pagetree/sectionchildren/edit_inline/stacked.html" %}
{% endwith %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}
	<div class="submit-row">
		<input value="Save" class="default" name="_save" type="submit">
		{% if not adminform.form.instance.is_root %}
		   <p class="deletelink-box"><a href="delete/" class="deletelink">Delete</a></p>
		{% endif %}
		<input value="Save and continue editing" name="_continue" type="submit">
	</div>
{% if add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</div>
{% endblock %}
