{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% load smartif %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
    <link rel="stylesheet" href="/admin/pagetree/media/css/pagetree.css" media="screen" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function() {
           {% if not cl.result_list.0 %}
                // Hackish -- on first view create a root if it doesn't exist
                $.ajax({
                    type: "POST",
                    url: "{% url create_tree_root %}",
                    success: function() {
                        window.location.reload()
                    },
                });
            {% endif %}
        });
    </script>
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; <a href="../">{{ app_label|capfirst }}</a> &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}</div>{% endblock %}{% endif %}

{% block coltype %}flex{% endblock %}

{% block title %}Site Hierarchies | {% trans "Django Admin" %}{% endblock %}

{% block content_title %}<h1>Site Hierarchies</h1>{% endblock %}

{% block content %}

<div id="content-main">
    {% block object-tools %}
    {% endblock %}
    
    {% for h in hierarchies %}
        <fieldset class="module aligned">
            <h2><a href="/admin/pagetree/hierarchy/{{h.id}}">{{h|capfirst}}</a></h2>
            {% with h.get_root as root %}
        	    <div style="margin-top: 5px; margin-left: 5px;"><a href="../section/{{root.id}}"><b>Root</b></a></div>
    		    <ul>
            	    {% for s in root.get_descendants %}
            			<li class="menu" style="list-style: none; line-height: 150%">
            			   <a href="/admin/pagetree/section/{{s.id}}">{{s.label}}</a>

                           {% if s.get_children %}
                               <ul>
                           {% else %}{% if s.is_last_child %}
                               {% for lc in s.closing_children %}
                                   </ul>
                               {% endfor %}
                           {% endif %}{% endif %} 
            			</li>
        			{% endfor %}
                </ul>
    	    {% endwith %}
        </fieldset>
        <br />               
    {% endfor %}
</div>
{% endblock %}
