{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block title %}
    {% with "Add Page Block" as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content_title %}
    {% with "Add Page Block" as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block extrahead %}

{{ block.super }}

<script type="text/javascript" src="/admin/pagetree/media/js/ajaxupload.js"></script>

<script type="text/javascript">
    var ajax_file_uploader = null;
    var ajax_params = {};

    jQuery(document).ready(function() { 
        jQuery('#blocktype').selectedIndex = 0;
        showForm('blocktype');
        
        jQuery('#blocktype').change(function() {
            showForm('blocktype');
         });

         if (jQuery('#id_image').length > 0) {
             ajax_file_uploader = new AjaxUpload('id_image', { action: "{% url add-pageblock object.id %}",
                  name: 'image',
                  onComplete: function(file, response) {
                      opener.dismissPopup(window, true);
                  },
                  autoSubmit: false,
                  onSubmit: function() {
                      // allow only 1 upload
                      this.disable();
                      this.setData(ajax_params);
                  },
                  onChange: function(file, extension){
                      jQuery('#id_image').parents("tr").hide();
                      jQuery('#id_image').parents("tr").after('<tr><td /><td>' + file + '</td></tr>');
                      
                  },
            });
        }
    });    
    
    
    function showForm(selectCtrlId) {
        ctrl = document.getElementById(selectCtrlId);
        
        for (var i=0; i < ctrl.options.length; i++)
            jQuery('#form_' + ctrl.options[i].value).hide();

        jQuery('#form_' + ctrl.options[ctrl.selectedIndex].value).show();
    }

    function addBlock(form) {
        formId = '#' + form.id;

        jQuery("#id_save").attr("disabled", "true");

        if (1 == 0) {
            // Validate Form
            jQuery("#id_save").removeAttr("disabled");
        } else {
            if (typeof tinyMCE != 'undefined')
                tinyMCE.triggerSave();
            
            jQuery("#form_error_msg").hide();

            if (form.enctype == "multipart/form-data" && ajax_file_uploader) {
                ajax_params = {};

                jQuery("#" + form.id + " :input").each(function(index) {
                    ajax_params[jQuery(this).attr("name")] = jQuery(this).val();
                });
                
                ajax_file_uploader.submit();
            } else {    
                jQuery.ajax({
                        type: "POST",
                        url: form.action,
                        data: jQuery(formId).serialize(),
                        success: function() {
                            opener.dismissPopup(window, true);
                        },
                        error: function() {
                            jQuery("#form_error_msg").html("An error occurred. Please try again.");
                            jQuery("#form_error_msg").show();
                            jQuery("#id_save").removeAttr("disabled");
                        }
                });
            }
        }
    }

    
</script>
    
{{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <link rel="stylesheet" href="/admin/pagetree/media/css/pagetree.css" media="screen" />
    
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     {% trans "Home" %} &rsaquo;
     Pagetree &rsaquo;
     Site Hierarchy &rsaquo;
      
     {% for s in object.get_ancestors %}
        {{s.label}}
        {% ifnotequal s.label object.label %}
           &rsaquo;
        {% endifnotequal %}
     {% endfor %}
</div>
{% endblock %}

{% block content %}
    
    <div id="content-main">
    
    Type: <select id="blocktype" name="blocktype"">
    {% for blocktype in object.available_pageblocks %}
       {% if blocktype %}
          <option value="{{blocktype.display_name|slugify}}">{{blocktype.display_name}}</option> 
       {% endif %}
    {% endfor %}
    </select>
    <br /><br />
    {% for blocktype in object.available_pageblocks %}
    	{% if blocktype %}
            <div id="form_error_msg" class="errornote" style="display:none"></div>
			<form action="{% url add-pageblock object.id %}" id="form_{{blocktype.display_name|slugify}}" {% ifnotequal forloop.counter 1 %}style="display: none" {% endifnotequal %}
				{% if blocktype.add_form.is_multipart %}
				   enctype="multipart/form-data"
				{% endif %}
				method="post"
                onSubmit="addBlock(this); return false;">
				<fieldset class="module">
					<input type="hidden" name="blocktype" value="{{blocktype.display_name}}"/>
					<table width="100%">
					{{object.add_pageblock_form.as_table}}
					{{blocktype.add_form.as_table}}
					</table>
					<div class="submit-row">
		                <input value="Add {{blocktype.display_name}}" class="default" name="_save" type="submit" id="id_save">
		            </div>
				</fieldset>
			</form>
    	{% endif %}
    {% endfor %}
{% endblock %}
