{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block title %}
    {% with "Edit Page Block" as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content_title %}
    {% with "Edit Page Block" as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="/admin/pagetree/media/js/ajaxupload.js"></script>
<script type="text/javascript">
   var ajax_file_uploader = null;
   var ajax_params = {};

    jQuery(document).ready(function() { 

        if (jQuery('#id_image').length > 0) {
            ajax_file_uploader = new AjaxUpload('id_image', { action: "{% url edit-pageblock object.id %}",
                 name: 'image',
                 onComplete: function(file, response) {
                     opener.dismissPopup(window, true);
                 },
                 autoSubmit: false,
                 onSubmit: function() {
                     // allow only 1 upload
                     this.disable();
                     this.setData(ajax_params);
                 },
                 onChange: function(file, extension){
                     jQuery('#id_image').parents("tr").hide();
                     jQuery('#id_image').parents("tr").after('<tr><td /><td>' + file + '</td></tr>');
                     
                 },
            });
        }
    
        // Edit Form Submit
        jQuery('#pageblock_edit_form').submit(function() {
            jQuery("#id_save").attr("disabled", "true");
                        
            if (1 == 0) {
                // Validate Form
                 jQuery("#id_save").removeAttr("disabled");
            } else {
                if (typeof tinyMCE != 'undefined')
                    tinyMCE.triggerSave();

                jQuery("#form_error_msg").hide();

                var form = jQuery("#pageblock_edit_form");
                if (form.attr("enctype") == "multipart/form-data" && ajax_file_uploader && !jQuery("#id_image").is(":visible")) {
                    ajax_params = {};

                    jQuery("#" + form.attr("id") + " :input").each(function(index) {
                        ajax_params[jQuery(this).attr("name")] = jQuery(this).val();
                    });
                    
                    ajax_file_uploader.submit();
                } else {
                    jQuery.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function() {
                            opener.dismissPopup(window, true);
                        },
                        error: function() {
                            jQuery("#form_error_msg").html("An error occurred. Please try again.");
                            jQuery("#form_error_msg").show();
                            jQuery("#id_save").removeAttr("disabled");
                        }
                    });
                }
            }            
            return false;          
         });
    });

</script>

{{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <link rel="stylesheet" href="/admin/pagetree/media/css/pagetree.css" media="screen" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     {% trans "Home" %} &rsaquo;
     Pagetree &rsaquo;
     Site Hierarchy &rsaquo;
      
     {% for s in section.get_ancestors %}
        {{s.label}}
        {% ifnotequal s.label section.label %}
           &rsaquo;
        {% endifnotequal %}
     {% endfor %}
</div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <p id='edit_error' class="errornote" style='display: none'></p>
        <div id="form_error_msg" class="errornote" style="display:none"></div>
        <form id='pageblock_edit_form' action="{% url edit-pageblock object.id %}" method="post"
            {% if object.edit_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
            <table width="100%">
                <tr><th><label>Type:</label></th><td>{{object.content_type.name|title}}</td></tr>
                {{ object.default_edit_form.as_table }}
                {% with object.edit_form as ef %}
                    {{ ef.as_table }}
                {% endwith %}
            </table>
            <div class="submit-row">
                <input value="Save" class="default" name="_save" type="submit" id="id_save" />
            </div>
        </form>
    </div>
{% endblock %}
