{% load i18n %}
<div class="inline-group">
  {% with inline_admin_formset.formset.instance as section %}

  <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }} &nbsp; (drag and drop to reorder)</h2>
      {{ inline_admin_formset.formset.management_form }}
      {{ inline_admin_formset.formset.non_form_errors }}

  <div id='blocks' class='dragparent'>
      {% if inline_admin_formset.formset.instance.is_root %}
         <div style="margin-top: 5px; margin-left: 5px;"><i>The Root node has no page blocks.</i></div>
      {% endif %}
      
      <table width="100%">
			{% for block in section.pageblock_set.all %}
			   <tr id="pageblock-{{block.id}}" class="draggable {% cycle 'admin_block_view_row1' 'admin_block_view_row2' %}">
                   <td width="7%" style="vertical-align: middle"><span title="drag to reorder sections" class="draghandle ui-icon ui-icon-arrowthick-2-n-s"></span></td>
	               <td width="15%">
	                   <h3 onmouseover="this.style.cursor='move'">{{block.content_type.name|title}}</h3>
	               </td>
			       <td class="admin_block_column">
				       {% if block.label%}<h4>{{ block.label }}</h4>{%endif%}
				       {{ block.render }}
			       </td>
			      <td class="admin_tools_column">
			         <span class="edit">
                        <a href="#" onclick="return showPageBlockPopup('edit', 'Edit {{block.content_type.name|title}}', {{ block.id }});" class="changelink"><b>{% trans 'Change' %}</b></a></span>
                     </span>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
			         <span class="delete">
                        <a href='#' onclick="return showDeletePopup('PageBlock', {{ block.id }});" class="deletelink">{% trans 'Delete' %}</a></span>
                     </span>  
                     
			      </td>
				</tr>
			 {% endfor %}
		 </table>
   </div>
   <br /><br /><br />
   {% if not inline_admin_formset.formset.instance.is_root %}
	   <ul class="object-tools">
	      <li>
	         <a id='add-new-pageblock' href="#" onclick="return showPageBlockPopup('add', 'Add Page Block', {{ section.id }});" class="addlink">Add Page Block</a>
	      </li>
	   </ul>
   {% endif %}
   
   {% endwith %}
</div>